<div class="app">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <mat-select>
        <mat-option *ngFor="let location of locations" [value]="location.name">
          {{ location.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Funding</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let fundingSource of fundingSources"
          [value]="fundingSource.name"
        >
          {{ fundingSource.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Chassis Type</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let chassisType of chassisTypes"
          [value]="chassisType.name"
        >
          {{ chassisType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Tenant Product</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let tenantProduct of tenantProducts"
          [value]="tenantProduct.name"
        >
          {{ tenantProduct.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Process</mat-label>
      <mat-select>
        <mat-option *ngFor="let process of processes" [value]="process.name">
          {{ process.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
